<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts Node.js</title>
    <style>
        body{
            background-color: #323232;
        }

        form{
            width: 300px;
            height: 420px;
            border-radius: 20px;
            margin-top: 90px;
            margin-left: 500px;
            background-color: #121212;
            align-items: center;
            color: white;
            font-size: 20px;
        }

        form > p {
            text-align: center;
        }

        form > input{
            margin-left: 60px;
            border-radius: 3px;
        }

        form > button {
            width: 200px;
            height: 30px;
            margin-top: 35px;
            margin-left: 45px;
            border-radius: 25px;
            background-color: red;
        }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>