<form action="/addform" method="POST">
    <p>Name: </p>
    <input type="text" name="title">
    <p>Age: </p>
    <input type="number" name="age" id="age">
    <p>Email: </p>
    <input type="email" name="email" id="email">
    <button type="submit">Create Form</button>
</form>